@import "variables";

.footer {
  background-color: $primary-dark;
  color: white;
  padding: 1.5rem;
  margin-top: 2rem;
  text-align: center;

  .icons {
    margin-top: 1.5rem;

    a {
      color: white;
      font-size: 2rem;
      margin: 1rem;
      display: inline;
    }
  }
}


