@import "variables";

.footer {
  background-color: $primary;
  color: white;
  padding: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;

  .icons {
    margin: 1.5rem 0.5rem;

    a {
      color: white;
      font-size: 2rem;
      margin: 1rem;
      display: inline;
    }
  }
}


