@import "variables";

.main {
  background-color: $primary;
  color: $light;
  max-width: 400px;
  margin: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  img {
    width: 100%;
  }
}

.info {
  padding: 1rem;

  h3 {
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.links {
  display: flex;
  justify-content: space-around;

  a {
    margin: 2rem;
  }
}

