@import "variables";

.main {
  color: $light;
  background-color: $primary-dark;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  width: 100vw;
  // padding: 1rem;

  h2 {
    text-align: center;
  }
}

