/**
 * Breakpoints
 */
$bp-desktop-xl: 1632px;
$bp-desktop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 480px;

/**
 * Colors
 */

 $dark: black;
 $light: white;
 $primary: #014a64;
 $primary-dark: #0C2233;
 $primary-light: #065471;
 $secondary: #FFC045;